body {
  height: 100%;
  width: 100%;
  margin: 0;
  
  --text-normal: #dcddde;
  --text-muted: #a3a6aa;
  --background-tertiary: #282b30;
}

.appMount-JI2eIf {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("/assets/img/overlay.png") 0 0 repeat;
 }

.logo-83fjie {
  width: 88px;
  height: 88px;
}

.logoGithub-C00137 {
  background-image: url("/assets/img/githubLogo.svg");
  width: inherit;
  height: inherit;
  background-size: 88px 88px;
}

.messageHeader-F832mj, .messageDescription-4JnfGa {
  text-align: center;
}

.messageHeader-F832mj {
  color: var(--text-normal);
  font-size: 18px;
}

.messageDescription-4JnfGa {
  color: var(--text-muted);
  font-size: 16px;
}
