@font-face {
  font-family: Whitney;
  font-weight: 300;
  src: url(/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff");
}
@font-face {
  font-family: Whitney;
  font-weight: 400;
  src: url(/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff");
}
@font-face {
  font-family: Whitney;
  font-weight: 500;
  src: url(/assets/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff");
}
@font-face {
  font-family: Whitney;
  font-weight: 600;
  src: url(/assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff");
}
@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff");
}

body {
  font-family: Whitney;
  height: 100%;
  width: 100%;
  margin: 0;
  
  --text-normal: #dcddde;
  --text-muted: #a3a6aa;
  --background-tertiary: #282b30;
}

.appMount-JI2eIf {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("overlay.png");
  background-repeat: repeat;
  animation: backgroundPatternShiftH 15s linear infinite, backgroundPatternShiftV 45s linear infinite;
  align-items: center;
}

.appInner-Ge7j83 {  
  position: absolute;
  right: 0;
  left: 0;
}

.info-7B8jeF {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.logo-83fjie {
  margin-bottom: 96px;
  align-items: center;
}

.logoGithub-C00137 {
  background-image: url("github-Logo.svg");
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  transition: .2s ease-out;
  cursor: pointer;
}
.logoGithub-C00137:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 4px #000);
}
.logoGithub-C00137:active {
  transform: scale(1.1) translateY(4px);
  filter: drop-shadow(0 0 4px #000);
}

.messageHeader-F832mj, .messageDescription-4JnfGa {
  text-align: center;
}

.messageHeader-F832mj {
  color: var(--text-normal);
  font-size: 18px;
  font-weight: 400;
}

.messageHeader-F832mj strong,
.messageDescription-4JnfGa strong {
  font-weight: 700;
}

.messageDescription-4JnfGa {
  color: var(--text-muted);
  font-size: 16px;
  padding-top: 16px;
  font-weight: 400;
}

@keyframes backgroundPatternShiftH {
  100% {
    background-position-x: 470px;
  }
}

@keyframes backgroundPatternShiftV {
  100% {
    background-position-y: 370px;
  }
}
