body {
  margin: 0;
}

appMount-JI2eIf {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 }

siteContent-g3w9OP {
  height: 100%;
  display: flex;
  align-items: center;
}

logoGithub-C00137 {
  background-image: url("/assets/img/githubLogo.svg");
  background-size: 88px 88px;
  width: 88px;
  height: 88px;
}
